<div class="content">
  <h2>Calculador de CDB</h2>

  <div class="fields">
    <form [formGroup]="cdbForm">
      <p>
        <mat-form-field>
          <mat-label>Valor inicial</mat-label>
          <input matInput type="text" [currencyMask]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" formControlName="initialValue">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Quantidade de meses</mat-label>
          <input matInput type="number" formControlName="months">
        </mat-form-field>
      </p>
      <button mat-flat-button (click)="calculate()" [disabled]="cdbForm.invalid">Calcular</button>
    </form>
  </div>

    <table mat-table [dataSource]="results" class="mat-elevation-z8">

      <ng-container matColumnDef="initialValue">
        <th mat-header-cell *matHeaderCellDef> Valor inicial </th>
        <td mat-cell *matCellDef="let cdb"> {{ cdb.initialValue | currency: 'BRL' : 'symbol' : '3.2-2' }}  </td>
      </ng-container>

      <ng-container matColumnDef="months">
        <th mat-header-cell *matHeaderCellDef> Meses </th>
        <td mat-cell *matCellDef="let cdb"> {{ cdb.months }}  </td>
      </ng-container>

      <ng-container matColumnDef="finalValue">
        <th mat-header-cell *matHeaderCellDef> Valor final bruto </th>
        <td mat-cell *matCellDef="let cdb"> {{cdb.finalValue | currency: 'BRL' : 'symbol' : '3.2-2' }}  </td>
      </ng-container>

      <ng-container matColumnDef="finalValueWithTax">
        <th mat-header-cell *matHeaderCellDef> Valor final liquído </th>
        <td mat-cell *matCellDef="let cdb"> {{cdb.finalValueWithTax | currency: 'BRL' : 'symbol' : '3.2-2' }}  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


</div>
