

.fields{
    margin-bottom: 1rem;
}

.fields mat-form-field + mat-form-field {
  margin-left: 8px;
}

.content {
  text-align: center;
  margin: 5rem;
}

.red-row {
  background-color: red;
  color: white;
}

.blue-row {
  background-color: #7fb3d5;
}

.green-row {
  background-color: #2ecc71;
}

